# Percobaan Koding saat Meet minggu 2 hari ke 1

In [ ]:
print("a" + "b")

ab

In [ ]:
number = ("1000")
type(number)

str

Operasi menggabungkan dua text (string) disebut "concatenation"

In [ ]:
print(10%3)

1

In [ ]:
a=5
b=2
result = a/b
print(result)

2.5

In [ ]:
print(1+1+"4"+2+1)

TypeError: ignored

koding di atas error karena tidak memungkinkan menambahkan angka(int) dengan string(" ") \
solusinya adalah konversi menjadi int semua atau string semua, seperti kode di bawah

In [ ]:
print("1"+"1"+"4"+"2"+"1")
print(1+1+4+2+1)

11421
9

## 1. Logical Expression

### a. Comparison Operator
Equals : "==" \
Not equals : "!=" \
Greater than : ">" \
Greater then or equals : ">=" \
Less than : "<" \
Less than or equals : "<=" \
\
Digunakan pada numbers, symbols, dan comparable types yang lain

#### Comparing Values 
Menghasilkan output berupa "True" dan "False"

In [ ]:
a = 5
b = 10
print("apakah a lebih kecil dari b?", a<b)
print("apakah a lebih besar dari b?", a>b)
print("apakah a lebih kecil dari 0?", a < 0)
print("apakah a lebih kecil sama dengan 5?", a <=5)
print("apakah a lebih kecil dari a?", a < a)
print("apakah b sama dengan 2x nya a?", b == 2*a)

apakah a lebih kecil dari b? True
apakah a lebih besar dari b? False
apakah a lebih kecil dari 0? False
apakah a lebih kecil sama dengan 5? True
apakah a lebih kecil dari a? False
apakah b sama dengan 2x nya a? True

#### Compare text menggunakan operator (==)

In [ ]:
a = "Gilang"
b = a
print(a == b)

True

In [ ]:
a = input()
b = input()
print(a==b)

geo
geo
True

#### Bool Variabel

Kita bisa memasukkan nilai "True" dan "False" pada sebuah variabel, contoh dibawah:

In [ ]:
is_valid = True
is_even = 4 % 2
is_same = 4 == 2

print(is_valid)
print(is_even)
print(is_same)

True
0
False

In [ ]:
a = 5
is_positive = a > 0
print(is_positive)

b = -10
is_positive = b > 0
print(is_positive)

True
False

#### Simple Conditions
Kita sering melakukan cek dan melakukan actions tergantung dari hasil pengecekan \
Hasilnya akan "True" atau "False"

Contoh: \
1. Tulis program yang membaca inputan berupa nilai, jika hasilnya lebih dari 5 maka print "Excellent"

Single if:

In [ ]:
number = int(input())
if number > 5:
  print("Excellent")
# jika nilai inputan lebih dari 5 maka akan tampil tulisan "Excellent",
# tapi jika tidak maka tidak akan menampilkan apa-apa (no output)

9
Excellent

If-Else:\
program ini akan memunculkan 2 output, dengan kondisinya berbeda, contoh di bawah

In [ ]:
a = 11

if a > 10:
  print("Benar")
else:
  print("Salah")

Benar

contoh block kode (tabulasi atau spasi yang menjadikannya menyatu)

In [ ]:
color = "merah"

if color == "merah":
  print("ini adalah warna merah")
  print("ahay")
else:
  print("ini bukan warna merah")
  print("ini adalah", color)

ini adalah warna merah
ahay

In [ ]:
color = "merah"

if color == "merah":
  print("ini adalah warna merah")
  print("ahay")
else:
  print("ini bukan warna merah")
  print("ini adalah", color)

print("terima kasih bouz") # print di samping akan tetap dijalankan setelah block diatas dijalankan

ini adalah warna merah
ahay
terima kasih bouz

In [ ]:
numberOne = int(input())
numberTwo = int(input())

print("Hasil pertama:")
if numberOne > numberTwo:
  print(numberOne)
if numberOne < numberTwo:
  print(numberTwo)
else:
  print("sama bos")

# atau seperti di bawah juga oke

print("Hasil kedua:")
if numberOne > numberTwo:
  print(numberOne)
else:
  print(numberTwo)

print("terima kasih")

1
1
Hasil pertama:
slebew
Hasil kedua:
1
terima kasih

#### Even and Odd (genap dan ganjil)

In [6]:
number = int(input())

if number % 2 == 0:
  print("Even")
if number % 2 != 0:
  print("Odd")

# atau seperti ini lebih mudah
if number % 2 == 0:
  print("Even")
else:
  print("Odd")

1
Odd
Odd

## 2. Rounding and Formatting
Dalam program kita dapat membulatkan angka pecahan

#### up (ceil)
berfungsi untuk membulatkan ke atas

In [9]:
import math

In [10]:
pembulatan = float(input("Masukkan nilai float: "))
print("Hasil pembulatan ke atas: ", math.ceil(pembulatan))

Masukkan nilai float: 1.2
Hasil pembulatan ke atas:  2

#### down (floor)
berfungsi untk membulatkan ke bawah

In [11]:
pembulatan = float(input("Masukkan nilai float: "))
print("Hasil pembulatan ke bawah: ", math.floor(pembulatan))

Masukkan nilai float: 1.9
Hasil pembulatan ke bawah:  1

#### Fungsi Absolute
berfungsi untuk membuat nilai menjadi positif meskipun inputan / nilainya negatif

In [13]:
negatif = -50
print("nilai negatif:", negatif)
absolute = abs(negatif)
print("hasil ketika dilakukan absolute: ", absolute)

positif = 70
print("nilai positif:", positif)
absolute = abs(positif)
print("hasil ketika dilakukan absolute: ", absolute)

nilai negatif: -50
hasil ketika dilakukan absolute:  50
nilai positig: 70
hasil ketika dilakukan absolute:  70

#### Rounding (pembulatan) ke 2 decimal
menggunakan rounding akan membulatkan angka ke n decimal (misal 2 decimal) ke atas atau ke bawah \
\
Jika nilai yang dibulatkan di <= 5 maka dibulatkan ke bawah, jika > 5 akan dibulatkan ke atas

In [19]:
nilai = 3.134
rounded = round(nilai, 2)
print(rounded)

3.13

In [22]:
nilai = 3.136
rounded = round(nilai, 2)
print(rounded)

3.14

In [23]:
nilai = 3.136
rounded = round(nilai, 1)
print(rounded)

3.1

#### Formatting
Contoh formating berikut ini adalah mengubah angka decimal besar menjadi 2 decimal saja,

In [28]:
nilaiAwal = 123.456
print(f"{nilaiAwal:.2f}")

# di python tetap dibulatkan ke atas atau ke bawah, tapi
# kalau di bahasa pemrograman lain hasilnya bisa beda (tidak dibulatkan)

123.46

#### Rounding vs Formatting

In [1]:
print(round(35.6000, 4))   # rounding jadi 35.6 dan 000 tidak akan ditampilkan
print(f"{35.6000:.4f}")    # formatting akan tetap menampilakn 000/

35.6
35.6000

## 3. Debugging
Proses untuk mencari tahu salahnya di mana, kalo di VSCode atau PyCharm di angka sebelah kiri dapat diklik untuk memunculkan titik merah dan harus dicek apakah ini akan terjadi error

## 4. Sequence of Conditions
Ini adalah percabangan yang lebih kompleks dimana kita bisa mengecek lebih dari 2 kondisi(tidak hanya "if" dan "else" tok)

In [6]:
inputan = int(input())

if inputan < 4:
    print("Nilainya kurang dari 4")
elif inputan > 4:
    print("nilainya lebih dari 4")
elif inputan > 10:
    print("nilainya lebih dari 10")
else:
    print("Nilainya lebi dari 4 dan lebih dari 10")

nilainya lebih dari 4

In [7]:
nilai = 3

if nilai == 1:
    print("Satu")
elif nilai == 2:
    print("Dua")
elif nilai == 3:
    print("Tiga")
else:
    print("Nilainya bukan 1,2 atau 3")

Tiga

#### Variable Scope
Variabel yang akan dimunculkan jika memenuhi kondisi tertentu, contoh di bawah ini

In [26]:
a = 1

if False:
    b = 2
    print(b)
# kode di atas bernilai "False", maka variabel b dan print tidak diakses
print(a)

1

In [10]:
hariIni = "senin"

if hariIni == "minggu":
    gaji = 1000
    isLibur = "Ya, libur"

print(gaji, isLibur)

1000 Ya, libur

In [24]:
current_day = "Sunday"

if current_day == "Monday":
    gaji = 1000
print(gaji)

1000

In [22]:
current_day = "Monday"
salary = 0
if current_day == "Monday":
    salary = 1000
    print(salary)
else:
    pass # jika diberi "pass" maka tidak akan menjalankan apapun, di-skip