# Percobaan Koding saat Meet minggu 2 hari ke 1

In [1]:
print("a" + "b")

ab

In [2]:
number = ("1000")
type(number)

str

Operasi menggabungkan dua text (string) disebut "concatenation"

In [3]:
print(10%3)

1

In [4]:
a=5
b=2
result = a/b
print(result)

2.5

In [5]:
print(1+1+"4"+2+1)

TypeError: ignored

koding di atas error karena tidak memungkinkan menambahkan angka(int) dengan string(" ") \
solusinya adalah konversi menjadi int semua atau string semua, seperti kode di bawah

In [8]:
print("1"+"1"+"4"+"2"+"1")
print(1+1+4+2+1)

11421
9

## 1. Logical Expression

### a. Comparison Operator
Equals : "==" \
Not equals : "!=" \
Greater than : ">" \
Greater then or equals : ">=" \
Less than : "<" \
Less than or equals : "<=" \
\
Digunakan pada numbers, symbols, dan comparable types yang lain

#### Comparing Values 
Menghasilkan output berupa "True" dan "False"

In [15]:
a = 5
b = 10
print("apakah a lebih kecil dari b?", a<b)
print("apakah a lebih besar dari b?", a>b)
print("apakah a lebih kecil dari 0?", a < 0)
print("apakah a lebih kecil sama dengan 5?", a <=5)
print("apakah a lebih kecil dari a?", a < a)
print("apakah b sama dengan 2x nya a?", b == 2*a)

apakah a lebih kecil dari b? True
apakah a lebih besar dari b? False
apakah a lebih kecil dari 0? False
apakah a lebih kecil sama dengan 5? True
apakah a lebih kecil dari a? False
apakah b sama dengan 2x nya a? True

#### Compare text menggunakan operator (==)

In [16]:
a = "Gilang"
b = a
print(a == b)

True

In [18]:
a = input()
b = input()
print(a==b)

geo
geo
True

#### Bool Variabel

Kita bisa memasukkan nilai "True" dan "False" pada sebuah variabel, contoh dibawah:

In [19]:
is_valid = True
is_even = 4 % 2
is_same = 4 == 2

print(is_valid)
print(is_even)
print(is_same)

True
0
False

In [21]:
a = 5
is_positive = a > 0
print(is_positive)

b = -10
is_positive = b > 0
print(is_positive)

True
False

#### Simple Conditions
Kita sering melakukan cek dan melakukan actions tergantung dari hasil pengecekan \
Hasilnya akan "True" atau "False"

Contoh: \
1. Tulis program yang membaca inputan berupa nilai, jika hasilnya lebih dari 5 maka print "Excellent"

Single if:

In [24]:
number = int(input())
if number > 5:
  print("Excellent")
# jika nilai inputan lebih dari 5 maka akan tampil tulisan "Excellent",
# tapi jika tidak maka tidak akan menampilkan apa-apa (no output)

9
Excellent

If-Else:\
program ini akan memunculkan 2 output, dengan kondisinya berbeda, contoh di bawah

In [26]:
a = 11

if a > 10:
  print("Benar")
else:
  print("Salah")

Benar

contoh block kode (tabulasi atau spasi yang menjadikannya menyatu)

In [31]:
color = "merah"

if color == "merah":
  print("ini adalah warna merah")
  print("ahay")
else:
  print("ini bukan warna merah")
  print("ini adalah", color)

ini adalah warna merah
ahay

In [32]:
color = "merah"

if color == "merah":
  print("ini adalah warna merah")
  print("ahay")
else:
  print("ini bukan warna merah")
  print("ini adalah", color)

print("terima kasih bouz") # print di samping akan tetap dijalankan setelah block diatas dijalankan

ini adalah warna merah
ahay
terima kasih bouz

In [6]:
numberOne = int(input())
numberTwo = int(input())

print("Hasil pertama:")
if numberOne > numberTwo:
  print(numberOne)
if numberOne < numberTwo:
  print(numberTwo)
else:
  print("sama bos")

# atau seperti di bawah juga oke

print("Hasil kedua:")
if numberOne > numberTwo:
  print(numberOne)
else:
  print(numberTwo)

print("terima kasih")

1
1
Hasil pertama:
slebew
Hasil kedua:
1
terima kasih